/*Header*/

div.header {
  color: MediumAquamarine;
  height: 75px;
  font-family: Verdana;
  font-size: 14px;
  font-weight: bold;
  border-bottom: solid black 1px;
  display: flex;
  justify-content: flex-start;
  justify-content: space-between;
  align-items: center;
}

.header img {
  margin-left: 25px;
  position: absolute;
}

p.title {
  margin-left: 100px;
}

nav span {
  display: inline-block;
  margin: 10px;
}

/*Body of page*/
.content {
  font-family: Georgia;
  margin-top: 40px;
  margin-bottom: 75px;
  min-width: 1300px;
  display: flex;
  flex-direction: column wrap;
  justify-content: center;
}

p {
  font-size: 17px;
}

h2 {
  font-weight: bold;
  font-size: 30px;
  color: white;
}

.column.large {
  width: 630px;
  position: relative;
  display: flex;
  flex-flow: column wrap;
  align-content: space-between;
}

.column.medium {
  width: 300px;
  margin: 0px 30px;
  position: relative;
  display: flex;
  flex-direction: column;
}

.column.small {
  width: 240px;
  display: flex;
  position: relative;
  flex-direction: column;
  border: solid purple 1px;
}


.tuna {
  background-image: url(./images/mainstory.png);
  height: 300px;
  display: flex;
  justify-content: center;
  align-items: center;
  border: solid black 1px;
}

.tuna h2 {
  font-size: 40px;
}

.orca {
  width: 300px;
}

.earlyburger {
  width: 300px;
}

.earthspin h2 {
  background-image: url(./images/fallseason.png);
  font-weight: bold;
  width: 300px;
  display: flex;
  border: solid black 1px;
}

.cameras h2 {
  background-image: url(./images/hipstercameraman.png);
  font-weight: bold;
  width: 300px;
  display: flex;
  border: solid black 1px;
}

.fbi  h2 {
  color: black;
}

.orca h2 {
  color: black;
}

.earlyburger h2 {
  color: black;
}

.cats h2 {
  background-image: url(./images/catceo.png);
  font-weight: bold;
  display: flex;
}

.newsbites {
  background-image: url(./images/cookie.png);
  height: 240px;
  font-weight: bold;
  display: flex;
}
